<!DOCTYPE html>
<html>

<head>
    <title>XTP Online Exam</title>
    <link rel="icon" href="/logo.png">

    <link rel="stylesheet" href="/style.css">
</head>


<body>


    <div class="container">


        <h1>XTP Computer Basics Exam</h1>


        <p>
            Welcome. Enter your details to start the examination.
        </p>


        <a href="/register">

            <button class="start-btn">
Start Exam
</button>

        </a>


    </div>


</body>

</html>