<!DOCTYPE html>
<html>

<head>

    <title>XTP Exam Register</title>
    <link rel="icon" href="/logo.png">

    <link rel="stylesheet" href="/style.css">

</head>


<body>


    <div class="container">

        <h1>XTP ONLINE EXAM</h1>
        <h1>Student Registration</h1>


        <form method="POST" action="/register">


            <input type="text" name="name" placeholder="Full Name" required>



            <input type="tel" name="phone" placeholder="Phone Number" required>



            <select name="mode" required>


<option value="">
Select Exam Level
</option>


<option value="easy">
Easy Level
</option>


<option value="medium">
Medium Level
</option>


<option value="hard">
Hard Level
</option>


</select>



            <button>
Start Exam
</button>


        </form>


    </div>


</body>


</html>